.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slides {
  margin: 5px 0 40px; }

.slides .slick-next, .slides .slick-prev {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  display: block;
  width: 71px;
  height: 100%;
  top: 0;
  opacity: .7;
  background: url("/imgs/arws.png") 0 center no-repeat; }

.slides .slick-prev {
  left: 0; }

.slides .slick-next {
  right: 0;
  background-position: -71px center; }

.slides .slick-disabled {
  display: none !important; }

.slides .slick-prev:hover, .slides .slick-next:hover {
  opacity: 1; }

/*.slides .slick-slide a{display:block;}*/
.slides .slick-slide a img, .slides .slick-slide img {
  max-width: 100%; }

.slides .slick-dots {
  list-style-image: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 3%;
  z-index: 1000;
  right: 15px; }

.slides .slick-dots li {
  list-style-image: none;
  float: left;
  margin: 0 3px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #b4b4b4;
  overflow: hidden;
  background: #fff; }

.slides .slick-dots li button {
  display: block;
  margin: 2px;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  color: #fff;
  font-size: 0;
  cursor: pointer;
  padding: 0; }

.slides .slick-dots li.slick-active button {
  background: #000; }

@media (max-width: 900px) {
  .with-menuleft .slides .slick-next, .with-menuleft .slides .slick-prev {
    width: 30px;
    background-size: 200% auto;
    background-position: 0 center; }
  .with-menuleft .slides .slick-next {
    background-position: -30px center; } }

@media (max-width: 700px) {
  .slides .slick-next, .slides .slick-prev {
    width: 30px;
    background-size: 200% auto;
    background-position: 0 center; }
  .slides .slick-next {
    background-position: -30px center; } }
