@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.eot") format("embedded-opentype");
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.eot") format("embedded-opentype");
  font-style: normal; }

button,
select, input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="date"],
textarea, input[type="submit"], a, .carousel-num {
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.psevdo-checkbox:before, .psevdo-checkbox:after, .main:after, .main_inner:after, .steps-item-num:after, .why-item:before, .why-item:after, .price:before, .how .right-link:after, .compare:before, .compare-table span:before, .projects-outer:before, .about-work:before, .documentation:before, .faq-item:after, .policy:after, .burger span {
  content: '';
  display: inline-block;
  position: absolute; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0; }

body {
  color: #000;
  background: #fff;
  font-family: "Roboto-Regular";
  line-height: 1.2;
  font-size: 16px; }

body * {
  box-sizing: border-box; }

b, strong {
  font-family: "Roboto-Medium"; }

button,
select {
  cursor: pointer; }

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #000; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="date"],
textarea {
  color: #000;
  font-family: "Roboto-Regular";
  border-radius: 0;
  -webkit-appearance: none; }

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer; }

img {
  max-width: 100%; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #000;
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto-Medium";
  line-height: 1;
  font-weight: normal; }

h1 {
  font-size: 72px;
  margin-bottom: 40px; }

h2 {
  font-size: 64px;
  margin-bottom: 48px; }

h3 {
  font-size: 24px;
  line-height: 1.2; }

h4 {
  font-size: 16px;
  line-height: 1.2; }

.text-center {
  text-align: center; }

ol li,
ul li {
  margin: 0 0 10px; }

.flex-box {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
          align-items: flex-start; }

.flex-box.flex-center {
  -webkit-box-align: center;
          align-items: center; }

.flex-box.flex-end {
  -webkit-box-align: end;
          align-items: flex-end; }

.flex-box.justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end; }

.flex-box.flex-stretch {
  -webkit-box-align: stretch;
          align-items: stretch; }

.flex-box.space-between {
  -webkit-box-pack: justify;
          justify-content: space-between; }

.flex-box.space-center {
  -webkit-box-pack: center;
          justify-content: center; }

.container {
  width: 100%;
  max-width: 1560px;
  padding: 0 80px;
  margin: 0 auto;
  position: relative; }

input[type="checkbox"] {
  opacity: 0;
  z-index: 2;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer; }

.psevdo-checkbox {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1; }
  .psevdo-checkbox-large {
    top: 1px; }

.psevdo-checkbox:before {
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  color: #000;
  z-index: 0;
  cursor: pointer; }

.psevdo-checkbox:after {
  border-radius: 3px;
  top: 1px;
  left: 1px;
  width: 13px;
  height: 13px; }

.form textarea {
  resize: none; }

input[type="checkbox"]:checked ~ .psevdo-checkbox:after {
  text-align: center;
  background: url(../img/check.svg) center center no-repeat; }

.form-row.form-row_policy {
  max-width: 100%;
  width: 100%;
  padding-left: 35px;
  margin-top: 20px; }
  .form-row.form-row_policy a {
    border-bottom: 1px solid #000; }
    .form-row.form-row_policy a:hover {
      border-bottom-color: transparent; }
  .form-row.form-row_policy label {
    cursor: pointer;
    font-size: 14px; }

::-webkit-input-placeholder {
  color: #000; }

::-moz-placeholder {
  color: #000; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #000; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #000; }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.yellow {
  color: #FEC600; }

.btn {
  display: table;
  color: #000;
  background: #FEC600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 26px 26px 24px;
  text-align: center;
  min-width: 300px; }
  .btn:hover {
    background: #F2BD00; }

.header {
  padding: 10px 0; }
  .header .menu a {
    margin: 0 30px;
    position: relative;
    border-bottom: 1px solid transparent; }
    .header .menu a:hover {
      border-bottom: 1px solid #000; }
  .header .phone {
    font-family: "Roboto-Medium"; }
    .header .phone:hover {
      opacity: .7; }
  .header .personal {
    width: 27px;
    height: 27px;
    background: url("../img/user.svg") center top no-repeat;
    margin: 0 40px; }
    .header .personal_logout {
      background-image: url("../img/logout.svg"); }
    .header .personal:hover {
      opacity: .7; }
  .header .lang {
    font-family: "Roboto-Medium";
    display: none; }
    .header .lang.nocurrent {
      display: block; }
    .header .lang:hover {
      opacity: .7; }

.main {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
  position: relative;
  z-index: 1; }
  .main:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(82.08deg, #5C5C5C -19%, rgba(0, 0, 0, 0) 67.97%); }
  .main * {
    position: relative;
    z-index: 2; }
  .main_inner:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(82.08deg, #5C5C5C -19%, rgba(0, 0, 0, 0) 67.97%); }
  .main .sub-title {
    max-width: 550px; }
  .main-facts {
    margin-top: -120px;
    position: relative;
    z-index: 2; }
    .main-facts-block {
      background: #E9E9E9;
      padding: 76px 160px; }
    .main-facts-item {
      width: 25%; }
      .main-facts-item-top {
        font-family: "Roboto-Medium";
        font-size: 14px;
        margin-bottom: 10px; }
        .main-facts-item-top span {
          font-size: 36px; }
      .main-facts-item-bottom {
        font-size: 14px;
        color: #838383; }

.types {
  margin-top: 100px;
  margin-bottom: 100px; }
  .types .max-w-670 {
    max-width: 670px; }
  .types-item {
    padding-left: 224px;
    background-position: left center;
    background-repeat: no-repeat;
    max-width: 634px;
    padding-top: 30px;
    min-height: 150px; }
    .types-item:nth-child(1) {
      background-image: url(../img/types-1.svg);
      margin-bottom: 70px; }
    .types-item:nth-child(2) {
      background-image: url(../img/types-2.svg); }
    .types-item p {
      color: #838383; }
    .types-item-title {
      color: #000;
      font-size: 24px;
      font-family: "Roboto-Medium";
      margin-bottom: 20px; }
  .types-block {
    margin-bottom: 70px; }
  .types-note {
    font-size: 14px; }

.count {
  margin-bottom: 100px; }
  .count .container {
    background: url(../img/price-bg.jpg) right center no-repeat; }
  .count-block {
    padding: 70px 0; }
    .count-block p {
      max-width: 500px; }
    .count-block .btn {
      margin-top: 80px; }

.steps {
  margin-bottom: 150px; }
  .steps.animate .steps-item-num:after {
    -webkit-animation: line 1s forwards;
            animation: line 1s forwards; }
  .steps-item {
    width: calc((100% - 150px) / 4);
    max-width: 210px; }
    .steps-item-title {
      font-family: "Roboto-Medium";
      margin-bottom: 20px; }
    .steps-item p {
      font-size: 14px;
      color: #838383;
      margin-bottom: 30px; }
    .steps-item-num {
      width: 100%;
      font-size: 14px;
      color: #5D5D5D;
      position: relative;
      padding-bottom: 5px; }
      .steps-item-num:after {
        height: 1px;
        left: 0;
        bottom: 0;
        background: #000; }

@-webkit-keyframes line {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes line {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.why {
  margin-bottom: 50px; }
  .why h2 {
    margin-bottom: 150px; }
  .why-item {
    margin-bottom: 100px;
    width: 375px;
    padding: 0 40px 50px;
    border: 1px solid #000000;
    border-top: 0;
    position: relative; }
    .why-item:before {
      left: 0;
      top: 0;
      width: 20px;
      background: #000;
      height: 1px; }
    .why-item:after {
      right: 0;
      top: 0;
      width: 190px;
      background: #000;
      height: 1px; }
    .why-item:nth-child(2) {
      width: 250px;
      padding: 0 0 50px;
      border-left: 0;
      border-right: 0;
      margin-left: 60px;
      margin-right: 60px; }
      .why-item:nth-child(2):before {
        display: none; }
      .why-item:nth-child(2):after {
        width: 80px; }
    .why-item:nth-child(3):after {
      width: 150px; }
    .why-item:nth-child(4) {
      width: 250px;
      padding: 0 0 50px;
      border-left: 0;
      border-right: 0;
      margin-left: 60px;
      margin-right: 60px; }
      .why-item:nth-child(4):before {
        display: none; }
      .why-item:nth-child(4):after {
        width: 60px; }
    .why-item:nth-child(5):after {
      width: 240px; }
    .why-item:nth-child(6):after {
      width: 200px; }
    .why-item:nth-child(7):after {
      width: 200px; }
    .why-item:nth-child(8):after {
      width: 140px; }
    .why-item:nth-child(9) {
      width: 250px;
      padding: 0 0 50px;
      border-left: 0;
      border-right: 0;
      margin-left: 60px;
      margin-right: 60px; }
      .why-item:nth-child(9):before {
        display: none; }
      .why-item:nth-child(9):after {
        width: 90px; }
    .why-item-title {
      font-size: 24px;
      letter-spacing: 0.03em;
      font-family: "Roboto-Medium";
      margin-top: -17px;
      background: #fff; }
    .why-item-img {
      max-width: 100%;
      height: 150px;
      overflow: hidden;
      margin: 35px auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
    .why-item p {
      color: #838383;
      font-size: 14px; }

.price {
  background: #E9E9E9;
  padding: 100px 0 450px 0;
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px; }
  .price:before {
    width: 100px;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0; }
  .price .sub-text {
    max-width: 470px; }
  .price .btn {
    margin-top: 50px; }
  .price .sub-title {
    font-size: 24px;
    margin-top: 100px; }
  .price-block {
    margin-bottom: 80px;
    margin-top: 80px; }
    .price-block .col {
      width: calc(50% - 50px);
      max-width: 500px; }
      .price-block .col:nth-child(1) {
        margin-right: 100px; }
  .price-item {
    display: -webkit-box;
    display: flex;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px; }
    .price-item span {
      color: #5E5E5E;
      font-size: 14px;
      margin-right: 34px; }
  .price-img {
    position: absolute;
    left: 0;
    bottom: -150px; }

.how.animate .how-line {
  -webkit-animation: how_line 2s forwards;
          animation: how_line 2s forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.how.animate .how-item {
  -webkit-animation: show 1s forwards;
          animation: show 1s forwards; }
  .how.animate .how-item:nth-child(1) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s; }
  .how.animate .how-item:nth-child(2) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s; }
  .how.animate .how-item:nth-child(3) {
    -webkit-animation-delay: .8s;
            animation-delay: .8s; }
  .how.animate .how-item:nth-child(4) {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s; }
  .how.animate .how-item:nth-child(5) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }

.how-row {
  position: relative;
  max-width: 1200px;
  margin-top: 136px; }

.how-line {
  background: #000;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0; }

.how-item {
  position: relative;
  width: 23%;
  font-size: 18px;
  opacity: 0;
  cursor: pointer; }
  .how-item:hover span {
    -webkit-animation: how_span_hov .6s forwards;
            animation: how_span_hov .6s forwards; }
  .how-item:hover ul {
    -webkit-animation: show 1s forwards;
            animation: show 1s forwards; }
  .how-item p {
    margin-top: 60px; }
  .how-item ul {
    margin-top: 20px;
    list-style: none;
    opacity: 0;
    -webkit-animation: hide .6s forwards;
            animation: hide .6s forwards;
    font-size: 14px;
    padding-left: 30%; }
  .how-item.active span {
    -webkit-animation: how_span_hov .6s forwards;
            animation: how_span_hov .6s forwards; }
  .how-item.active ul {
    -webkit-animation: show .6s forwards;
            animation: show .6s forwards; }
  .how-item:nth-child(1) {
    width: 15%; }
    .how-item:nth-child(1) span {
      left: 0; }
    .how-item:nth-child(1) p,
    .how-item:nth-child(1) ul {
      padding-left: 0; }
  .how-item:nth-child(5) {
    width: calc(100% - 15% - 69%); }
    .how-item:nth-child(5) span {
      right: 0;
      left: auto; }
    .how-item:nth-child(5) p {
      text-align: right; }
    .how-item:nth-child(5) ul {
      padding-left: 20%; }
  .how-item P {
    padding-left: 30%; }
  .how-item span {
    display: block;
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 100px;
    -webkit-animation: how_span_hov_start .6s forwards;
            animation: how_span_hov_start .6s forwards; }
    .how-item span.big {
      width: 70px;
      height: 70px;
      background: #FEC600;
      top: -35px; }

.how .right-link {
  position: relative;
  float: right;
  margin-top: 100px;
  font-size: 14px;
  border-bottom: 1px solid #000; }
  .how .right-link:hover {
    border-bottom-color: transparent; }
  .how .right-link:after {
    clear: both; }

@-webkit-keyframes how_span_hov {
  0% {
    background: #000;
    -webkit-transform: none;
            transform: none; }
  100% {
    background: #FEC600;
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3); } }

@keyframes how_span_hov {
  0% {
    background: #000;
    -webkit-transform: none;
            transform: none; }
  100% {
    background: #FEC600;
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3); } }

@-webkit-keyframes how_span_hov_start {
  0% {
    background: #FEC600;
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3); }
  100% {
    background: #000;
    -webkit-transform: none;
            transform: none; } }

@keyframes how_span_hov_start {
  0% {
    background: #FEC600;
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3); }
  100% {
    background: #000;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes how_line {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes how_line {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.compare {
  margin-top: 200px;
  padding: 100px 0 100px 0;
  background: #E9E9E9;
  position: relative; }
  .compare-block {
    margin-top: 160px; }
  .compare:before {
    width: 100px;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0; }
  .compare-table {
    border-collapse: collapse; }
    .compare-table-container {
      margin-top: 160px; }
    .compare-table span {
      display: block;
      width: 150px;
      height: 6px;
      background: rgba(254, 198, 0, 0.3);
      position: relative;
      margin-bottom: 5px;
      z-index: 1; }
      .compare-table span:before {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #FEC600;
        z-index: 2; }
      .compare-table span.half:before {
        width: 50%; }
      .compare-table span.quarter:before {
        width: 17%; }
    .compare-table thead tr td {
      border-bottom: 1px solid #000;
      padding: 0 30px 20px; }
    .compare-table tbody tr td {
      vertical-align: bottom;
      padding: 0 30px; }
      .compare-table tbody tr td:first-child {
        font-size: 14px;
        padding-right: 20px;
        padding-top: 40px; }

.works {
  padding-bottom: 150px;
  padding-top: 150px; }
  .works-slider-nav {
    margin-top: 30px;
    max-width: 1200px; }
    .works-slider-nav-arrows {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
  .works-slider-item-inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap; }
  .works-slider-item .left {
    width: 500px; }
  .works-slider-item .right {
    width: calc(100% - 500px - 100px); }
    .works-slider-item .right div {
      max-width: 600px; }
  .works-slider-item .sub-text {
    color: #636363;
    font-size: 14px;
    margin-bottom: 16px; }
  .works-slider-item-info {
    margin-bottom: 50px; }

.slick-arrow {
  width: 40px;
  height: 20px;
  background: url(../img/arr.svg) center center no-repeat; }
  .slick-arrow.slick-prev {
    margin-right: 20px; }
  .slick-arrow.slick-next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.border-link {
  border-bottom: 1px solid #000; }
  .border-link:hover {
    border-bottom-color: transparent; }

.order {
  background: #E9E9E9; }
  .order .sub-title {
    margin-bottom: 100px; }
  .order .form .flex-box .form-row {
    width: calc(50% - 75px); }
  .order .form .form-row_policy {
    margin: 80px 0 30px; }
  .order .form-block {
    padding: 100px 0; }
  .order .form textarea {
    height: 30px; }
  .order-result {
    padding: 200px 0 400px;
    background: url(../img/result-bg.png) center center no-repeat; }

.form-row {
  position: relative; }
  .form-row input[type="text"],
  .form-row input[type="email"],
  .form-row input[type="password"],
  .form-row input[type="phone"],
  .form-row input[type="date"],
  .form-row textarea {
    border-bottom: 1px solid #000000;
    font-size: 24px;
    width: 100%;
    background: transparent; }

.footer-block {
  padding: 100px 80px 90px;
  border-bottom: 1px solid #000; }
  .footer-block .logo {
    margin-bottom: 16px;
    display: table; }
  .footer-block p {
    font-size: 18px;
    margin-bottom: 20px; }
  .footer-block a {
    font-size: 14px;
    display: table;
    margin-bottom: 16px; }
    .footer-block a:hover {
      opacity: .7; }
  .footer-block .pers {
    font-size: 18px;
    padding-right: 30px;
    background: url(../img/user.svg) right center no-repeat;
    background-size: 15px 15px; }
  .footer-block span {
    color: #838383;
    max-width: 170px;
    display: table;
    font-size: 14px; }

.footer-bottom {
  padding: 20px 80px;
  font-size: 14px; }
  .footer-bottom p {
    margin-top: 10px; }

.footer-menu a {
  margin-right: 50px;
  border-bottom: 1px solid transparent; }
  .footer-menu a:hover {
    border-bottom: 1px solid #000; }

.history {
  position: relative;
  padding: 150px 0 340px;
  z-index: 2;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }
  .history p {
    max-width: 550px; }
  .history-img {
    position: absolute;
    left: 0;
    bottom: -270px; }

.padleft-200 {
  padding-left: 200px; }

.projects {
  padding-top: 370px;
  position: relative;
  background: url(../img/projects-bg-new.jpg) right bottom no-repeat;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }
  .projects-outer {
    background-color: #E9E9E9;
    padding-bottom: 200px;
    position: relative; }
    .projects-outer:before {
      width: 100px;
      height: 100%;
      background: #fff;
      top: 0;
      left: 0;
      z-index: 1; }
  .projects-block {
    padding: 50px 0; }
  .projects-content {
    max-width: 760px; }
    .projects-content p {
      margin-bottom: 20px; }
  .projects-facts-row {
    max-width: 500px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
            align-items: flex-end;
    border-bottom: 1px solid #838383;
    padding: 16px 0; }
  .projects-facts-big {
    color: #FEC600;
    font-size: 36px;
    font-family: "Roboto-Medium"; }
    .projects-facts-big span {
      font-size: 14px; }
  .projects-facts-small {
    color: #838383;
    font-size: 14px;
    text-align: right; }

.about-work {
  padding-bottom: 150px;
  position: relative;
  background: #E9E9E9 url("../img/about-work-img.jpg") 100px top no-repeat; }
  .about-work:before {
    width: 100px;
    height: 100%;
    background: #fff;
    top: 0;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    left: 0; }
  .about-work-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 40px 0; }
    .about-work-block-inner {
      max-width: 560px; }
  .about-work p {
    margin-bottom: 20px; }

.documentation {
  background: #E9E9E9;
  position: relative;
  padding-bottom: 150px; }
  .documentation-block {
    padding-top: 130px;
    background: url("../img/doc-bg.svg") 0 0 no-repeat; }
  .documentation p {
    max-width: 670px;
    margin-bottom: 20px; }
  .documentation:before {
    width: 100px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0; }

.clients {
  padding: 100px 0 100px; }
  .clients-row {
    margin: 50px 0 100px; }
  .clients-item {
    font-size: 24px;
    padding: 30px 0;
    border-bottom: 1px solid #000; }
    .clients-item:first-child {
      border-top: 1px solid #000; }
  .clients-block {
    border-collapse: collapse;
    margin-top: 50px; }
    .clients-block td {
      padding: 70px 40px;
      border: 1px solid #000;
      vertical-align: middle; }
    .clients-block span {
      font-size: 14px;
      letter-spacing: 0.23em;
      display: block;
      text-transform: uppercase;
      text-align: center; }
      .clients-block span:first-child {
        margin-bottom: 8px; }
      .clients-block span.big {
        font-size: 24px;
        letter-spacing: 0.075em; }

.carousel-num {
  margin: 0 5px; }

.carousel-nav {
  margin: 80px auto 0;
  -webkit-box-pack: center;
          justify-content: center; }

.carousel-arrows a {
  display: table;
  width: 20.5px;
  height: 26px;
  background-size: cover;
  padding: 6px;
  background: url(../img/carousel-arr.svg) center center no-repeat; }
  .carousel-arrows a:hover {
    opacity: .7; }

.carousel-arrows#carousel_next a {
  background: url(../img/carousel-arr-r.svg) center center no-repeat; }

.sert-slider {
  height: 500px;
  margin-top: 150px; }

.sert-block {
  margin-left: -160px; }

.sertificetes {
  padding-bottom: 150px; }

.hydrofloor {
  padding: 100px 0 150px;
  background: #E9E9E9;
  margin-bottom: 150px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }
  .hydrofloor-bg {
    background: url(../img/hydrofloor-bg.jpg) left bottom no-repeat; }
  .hydrofloor p {
    max-width: 600px; }
  .hydrofloor-item {
    font-size: 24px;
    padding-bottom: 6px;
    border-bottom: 1px solid #000;
    margin-bottom: 26px; }
  .hydrofloor-block {
    padding-bottom: 50px;
    margin-top: 100px;
    -webkit-box-pack: end;
            justify-content: flex-end; }
    .hydrofloor-block-inner {
      max-width: 600px;
      width: 100%; }

.release {
  margin-top: 150px;
  padding: 90px;
  background: #FEC600; }
  .release a {
    padding-right: 70px;
    background: url(../img/link-arr.svg) right center no-repeat; }
    .release a:hover {
      opacity: .7; }

.dop {
  padding: 100px 0 150px; }
  .dop .left {
    width: calc(50% - 100px);
    background: url(../img/ellipse.svg) right bottom no-repeat;
    min-height: 150px;
    padding-right: 30px; }
  .dop .right {
    width: 50%; }
  .dop-item {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000; }
    .dop-item:last-child {
      margin-bottom: 0; }
    .dop-item .big {
      font-size: 24px;
      margin-bottom: 20px; }
    .dop-item .small {
      font-size: 14px;
      color: #838383; }

.notfound {
  background: #E9E9E9 url(../img/notfound-bg.svg) center top no-repeat;
  padding: 144px 0 370px; }
  .notfound-top div {
    font-size: 24px;
    margin-bottom: 15px; }
  .notfound-top p {
    color: #838383;
    font-size: 18px; }
  .notfound-bottom {
    margin-top: 90px; }
    .notfound-bottom h1 {
      font-size: 200px;
      margin-bottom: 0; }
    .notfound-bottom .left {
      margin-right: 100px; }
    .notfound-bottom .right p {
      color: #838383;
      font-size: 18px;
      margin-bottom: 30px; }

.projects-about {
  margin: 110px 0 0; }
  .projects-about-block {
    max-width: 750px;
    background: url(../img/ellipse.svg) 550px 30px no-repeat;
    font-size: 24px;
    padding: 50px 0; }
    .projects-about-block p {
      margin-bottom: 20px; }

.works_innerpage {
  margin-top: 0;
  padding-bottom: 100px; }
  .works_innerpage .works-slider-nav-arrows {
    margin: 30px 0 40px; }
  .works_innerpage .works-slider {
    border-bottom: 1px solid #000;
    margin-bottom: 50px; }
    .works_innerpage .works-slider:nth-child(1) {
      border-top: 1px solid #000;
      padding-top: 50px; }

.text-page-main {
  padding: 200px 0 150px; }

.faq {
  padding-bottom: 150px; }
  .faq-item {
    padding: 50px 130px 30px 0;
    position: relative;
    border-bottom: 1px solid #000; }
    .faq-item:first-child {
      border-top: 1px solid #000; }
    .faq-item-title {
      margin-bottom: 20px;
      font-size: 24px;
      max-width: 750px; }
    .faq-item-info {
      color: #838383;
      max-width: 750px;
      display: none; }
    .faq-item:after {
      width: 30px;
      height: 30px;
      background: url(../img/plus.svg) 0 0 no-repeat;
      opacity: .6;
      right: 50px;
      top: calc(50% - 15px);
      -webkit-animation: rotate_start 1s forwards;
              animation: rotate_start 1s forwards;
      cursor: pointer; }
    .faq-item:hover {
      cursor: pointer; }
      .faq-item:hover:after {
        -webkit-animation: rotate 1s forwards;
                animation: rotate 1s forwards; }
    .faq-item.open:after {
      -webkit-animation: rotate 1s forwards;
              animation: rotate 1s forwards; }

@-webkit-keyframes rotate {
  0% {
    opacity: .5;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@keyframes rotate {
  0% {
    opacity: .5;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@-webkit-keyframes rotate_start {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  100% {
    opacity: .5;
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes rotate_start {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  100% {
    opacity: .5;
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

.mb-50 {
  margin-bottom: 50px; }

.contacts {
  margin-top: 100px;
  padding: 0 70px 40px 0;
  max-width: 650px;
  background: url(../img/ellipse.svg) right bottom no-repeat; }
  .contacts-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
            align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 50px; }
    .contacts-item:last-child {
      margin-bottom: 0; }
    .contacts-item span {
      color: #838383;
      font-size: 18px; }
    .contacts-item p {
      font-size: 18px; }

.map {
  margin-bottom: 100px; }

.pers-object {
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
  padding-bottom: 50px; }

.personal-block .left {
  width: 500px; }

.personal-block .right {
  width: calc(100% - 500px - 180px); }
  .personal-block .right p {
    font-size: 18px;
    margin-bottom: 30px; }
  .personal-block .right span {
    color: #838383;
    font-size: 14px;
    display: block;
    margin-bottom: 10px; }

.personal-page {
  background: #E9E9E9;
  padding: 150px 0 200px; }

.personal-info-img {
  margin-right: 50px;
  background: #D3D3D3;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .personal-info-img img {
    margin: auto; }

.personal-info-contacts p {
  font-size: 18px;
  margin-bottom: 30px; }

.personal-info-contacts .big {
  font-size: 24px;
  margin-bottom: 30px; }

.personal-info-contacts span {
  color: #838383;
  font-size: 14px;
  display: block;
  margin-bottom: 10px; }

.personal-title {
  font-size: 24px;
  border-bottom: 1px solid #000;
  margin-bottom: 50px; }

.personal-docs {
  margin-top: 20px; }
  .personal-docs-item {
    padding-left: 80px;
    background-position: left top;
    background-repeat: no-repeat;
    min-height: 65px;
    margin-bottom: 30px;
    width: calc(50% - 50px); }
    .personal-docs-item:nth-child(odd) {
      margin-right: 100px; }
    .personal-docs-item.pdf {
      background-image: url(../img/pdf.svg); }
    .personal-docs-item-name {
      font-size: 18px;
      margin-bottom: 16px; }
    .personal-docs-item-size {
      font-size: 14px;
      color: #838383; }

.personal-review {
  width:100%;
  padding:15px;
}

.pers-slider {
  margin-top: 30px;
  margin-bottom: 26px; }
  .pers-slider .slick-list {
    margin-right: -50px; }
  .pers-slider img {
    margin-right: 50px; }
  .pers-slider-nav {
    -webkit-box-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: flex;
    margin-bottom: 30px; }

.policy {
  max-width: 840px;
  min-width: 500px;
  float: right;
  position: relative;
  width: 50%;
  background: #fff;
  padding: 100px 30px 38px; }
  .policy:after {
    clear: both; }
  .policy h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 100;
    font-family: "Roboto-Regular";
    letter-spacing: 0.03em; }
  .policy h3 {
    margin: 78px 0 30px;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
  .policy p {
    margin-bottom: 16px; }

.mfp-close-btn-in .mfp-close {
  color: #000;
  top: 110px;
  right: 90px;
  background: url(../img/close.svg) center center no-repeat;
  font-size: 0; }

.mfp-container {
  padding: 0; }

.phone_mob {
  display: none; }

.burger {
  display: none;
  position: relative;
  width: 25px;
  height: 11px;
  cursor: pointer;
  margin-left: 40px; }
  .burger span {
    height: 1px;
    background: #000000;
    left: 0;
    width: 100%;
    -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms; }
  .burger span:nth-child(1) {
    top: 0; }
  .burger span:nth-child(2) {
    top: 5px;
    opacity: 1; }
  .burger span:nth-child(3) {
    top: 10px; }
  .burger:not(.open):hover span:nth-child(1) {
    -webkit-transform: rotate(-3deg) scaleY(1.1);
            transform: rotate(-3deg) scaleY(1.1); }
  .burger:not(.open):hover span:nth-child(2) {
    -webkit-transform: rotate(3deg) scaleY(1.1);
            transform: rotate(3deg) scaleY(1.1); }
  .burger:not(.open):hover span:nth-child(3) {
    -webkit-transform: rotate(-4deg) scaleY(1.1);
            transform: rotate(-4deg) scaleY(1.1); }
  .burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px; }
  .burger.open span:nth-child(2) {
    opacity: 0; }
  .burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px; }

.mob-600 {
  display: none; }

.login {
  background: #E9E9E9;
  padding: 150px 0 200px; }
  .login-block {
    background: #fff;
    max-width: 900px;
    display: table;
    margin: 0 auto;
    padding: 80px 100px 100px; }
    .login-block h2 {
      font-size: 48px; }
    .login-block .form-row {
      margin-bottom: 48px;
      max-width: 320px; }

.user-item {
  align-items: center;
}
.btn {
    height: 40px;
}
    
